.error-404 {
  margin-top: 100px;
  margin-left: 75px;
  i {
    display: none;
  }
  h2 {
    color: $purple;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $teal;
    text-decoration: none;
  }
  .widget_recent_entries,
  .widget_archive,
  .widget_categories {
    margin: 0;
    padding: 0;
  }
  .widget_archive {
    margin-bottom: 50px;
  }
}
