.page-template-about {
  .main-navigation {
    background: none;
    a {
      color: white;
      &:hover {
        color: $yellow;
      }
    }
    i {
      color: white;
    }
  }
  .entry-content {
    @include flex-column;
    align-items: center;
    width: 100%;
    h2 {
      font-size: 35px;
      color: $purple;
    }
    p:nth-of-type(2) {
      width: 800px;
    }
    p:nth-of-type(3) {
      width: 800px;
    }
    p:nth-of-type(5) {
      width: 800px;
    }
  }
}
