.page-template-about {
  .main-navigation {
    background: none;
    border: none;
    a {
      color: white;
      &:hover {
        color: $yellow;
      }
    }
    i {
      color: white;
    }
  }
  .about-content {
    @include flex-column;
    align-items: center;
    margin: 0 225px;
    h2 {
      font-size: 35px;
      color: $purple;
      text-align: center;
    }
  }
}
