.page-template-about {
  .tent-teal {
    display: block;
  }
  .tent {
    display: none;
  }
    .colors{
  background: none;
  border: none;
  color: white;
  a,
  a:visited {
    color: white;
    &:hover {
      color: $yellow;
    }
  }
  i {
    color: white;
  }
  .tent-teal {
    display: none;
  }
  .tent {
    display: block;
  }
}
  .about-content {
    @include flex-column;
    align-items: center;
    margin: 0 225px;
    h2 {
      font-size: 35px;
      color: $purple;
      text-align: center;
    }
  }
}


