.blog {
  .content-area {
    article {
      margin: 20px;
    }
    h2,
    a {
      color: $white;
      text-decoration: none;
    }
    .post {
      padding-left: 50px;
      width: 825px;
    }

    .entry-header {
      position: relative;
      h2 {
        position: absolute;
        width: 575px;
        top: 0rem;
        font-size: 35px;
        line-height: 2.5rem;
        color: $white;
        background: $teal;
        padding: 10px;
      }
      .entry-meta {
        position: absolute;
        bottom: 1rem;
        right: 0rem;
        color: $white;
        background: $teal;
        padding: 10px;
      }
    }
    img {
      height: auto;
      width: 825px;
    }
  }
}
