.page-id-25 {
  .content-area {
    padding-left: 75px;
    padding-top: 50px;
  }
  figure {
    margin: 0;
    iframe {
      width: 800px;
      height: 250px;
      border: none;
    }
  }

  h1,
  h2 {
    font-size: 35px;
  }
  h2 {
    color: $purple;
  }
  .wpcf7-form {
    width: 775px;
    font-family: 'novecento';
    text-transform: uppercase;
  }
  span {
    color: $orange;
  }
  .your-name {
    input[type='text'] {
      width: 400px;
      border: 1px solid $light-grey;
      border-radius: 2px;
    }
  }
  .your-email {
    input[type='email'] {
      width: 400px;
      border: 1px solid $light-grey;
      border-radius: 2px;
    }
  }
  .your-subject {
    input[type='text'] {
      width: 400px;
      border: 1px solid $light-grey;
      border-radius: 2px;
    }
  }
  .your-message {
    textarea {
      height: 300px;
      border: 1px solid $light-grey;
      border-radius: 2px;
    }
  }
  input[type='submit'] {
    color: white;
    background: $teal;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    height: 40px;
    width: 100px;
    font-family: 'novecento';
    text-transform: uppercase;
    font-size: 16px;
  }
}
