.site-footer {
  background: url(../../images/dark-wood.png) no-repeat center bottom;
  background-size: cover;
  color: white;
  height: 350px;
  .site-info {
    display: flex;
    img {
      width: 275px;
      margin-left: 275px;
      margin-bottom: 110px;
    }
    h6 {
      font-size: 20px;
      color: $orange;
      margin: 0;
    }
  }
}
// contact section
.contact {
  margin: 55px;
  a {
    color: white;
    text-decoration: none;
  }
  i {
    padding-right: 5px;
  }
}
// busssiness hours section
.business {
  margin: 50px;
  span {
    font-family: 'Merriweather-Bold';
  }
}
// icons
.social-media {
  i {
    padding: 0 10px 0 10px;
  }
}
// copyright section
.copyright {
  text-align: center;
  font-family: 'novecento';
  text-transform: uppercase;
}
