html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: 16px;
  font-family: 'Merriweather-Light';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'novecento-bold';
  text-transform: uppercase;
}

.hfeed {
  min-height: 100%;
}

.site-content {
  width: 100%;
  display: grid;
  grid-template-areas:
    'main main sidebar'
    'main main sidebar';
}

.home {
  .site-content {
    width: 100%;
    display: grid;
    grid-template-areas:
      'main main'
      'main main';
  }
}

.post-type-archive-product {
  .site-content {
    width: 100%;
    display: grid;
    grid-template-areas:
      'main main'
      'main main';
  }
}

.single-product {
  .site-content {
    width: 100%;
    display: grid;
    grid-template-areas:
      'main main'
      'main main';
  }
}

.widget-area {
  grid-area: sidebar;
}
.content-area {
  grid-area: main;
}
