.home {
  // nav bar
  .tent-teal {
    display: block;
  }
  .tent {
    display: none;
  }
  .colors {
    border-bottom: none;
    background: none;
    a {
      color: white;
      &:hover {
        color: $yellow;
      }
    }
    i {
      color: white;
    }
    .tent-teal {
      display: none;
    }
    .tent {
      display: block;
    }
  }
// header
  h2 {
    font-size: 40px;
    font-family: 'novecento';
    font-weight: lighter;
    color: $purple;
    margin: 50px 0;
  }
  .content-area {
    width: 100%;
  }
  .home-hero {
    background: grey;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
      url(../../images/home-hero.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // shop section
  .shop-stuff {
    @include flex-column;
    align-items: center;
    .frontpage-shop {
      width: 1125px;
      display: flex;
      justify-content: space-between;
      .frontpage-term {
        border: 1px solid $light-grey;
        border-top: 5px solid $light-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 275px;
        width: 260px;
        line-height: 2rem;
        padding: 0 10px;
        &:hover {
          border: 1px solid $orange;
          border-top: 5px solid $orange;
        }
        p {
          margin-bottom: 1rem;
        }
        img {
          width: 70px;
          padding-top: 15px;
        }
        a {
          background: $teal;
          color: $white;
          font-family: 'novecento';
          text-transform: uppercase;
          text-decoration: none;
          padding: 5px 20px;
          font-size: 0.9rem;
          &:hover {
            background: $dark-teal;
          }
        }
      }
    }
  }
// journal section
  .front-page-journal {
    @include flex-column;
    align-items: center;
    margin-bottom: 50px;
    .journal-section {
      display: flex;
      justify-content: space-between;
      width: 1100px;
      .journal-entrie {
        border: 1px solid $light-grey;
        max-width: 350px;
        max-height: 400px;
        img {
          max-height: 235px;
          border-bottom: 5px solid $light-grey;
        }
        .entry-data {
          font-size: 12px;
          padding-left: $journal-left;
        }
        .journal-mini-meta {
          @include flex-column;
          flex-wrap: wrap;
          min-height: 120px;
          justify-content: space-between;
          a {
            padding-left: $journal-left;
            font-family: 'novecento-bold';
            font-size: 22px;
            text-decoration: none;
            color: $teal;
            text-transform: uppercase;
            &:hover {
              color: $purple;
            }
          }
          .read-entry {
            font-family: 'novecento';
            font-size: 16px;
            color: $purple;
            border: 1px solid $purple;
            width: 140px;
            padding: 10px 20px;
            margin-left: $journal-left;
            &:hover {
              background: $teal;
              color: $white;
              border: none;
            }
          }
        }
      }
    }
  }
// adventure section
  .front-page-adventure {
    @include flex-column;
    align-items: center;
    margin-bottom: 50px;
    .adventure {
      width: 1125px;
      height: 525px;
      display: grid;
      grid-template-areas: 
      'canoe canoe beach beach'
      'canoe canoe mountain star';
      grid-template-columns: repeat(4, 24%);
      grid-template-rows: 50% 50%;

      grid-gap: 20px;
      h3 {
        font-family: 'Merriweather-Light';
        text-transform: capitalize;
        font-weight: lighter;
        margin-left: 20px;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: $yellow;
          }
        }
      }
      .canoe {
        grid-area: canoe;
        background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.4)), url(../../images/canoe-girl.jpg) no-repeat center bottom ;
        background-size: cover;
        h3 {
          font-size: 45px;
          
        }
      }
      .beach-night {
        grid-area: beach;
        background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.4)), url(../../images/beach-bonfire.jpg) center;
        background-size: cover;
        h3 {
          font-size: 37px;
        }
      }
      .mountain-view {
        grid-area: mountain;
        background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.4)), url(../../images/mountain-hikers.jpg) center;
        background-size: cover;
        h3 {
          font-size: 25px;
          
        }
      }
      .star-gazing {
        grid-area: star;
        background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.4)), url(../../images/night-sky.jpg) center;
        background-size: cover;
        h3 {
          font-size: 25px;
          
        }
      }
      .read-adventure {
        margin-left: 20px;
        a {
          color: white;
          text-decoration: none;
          padding: 10px 20px;
          border: 1px solid white;
          font-family: 'novecento';
        text-transform: uppercase;
        &:hover {
        border: none;
        background: $teal;
        color: white;
        }
        }
      }

    }
    .more-adventures {
      width: 1125px;
      text-align: left;
      margin-top: 60px;
      a {
      border: none;
      background: $teal;
      color: white;
      font-family: 'novecento';
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 12px 22px;
      &:hover {
      background: $dark-teal;
      }
      }
    }
  }
}
