// TODO:  add overflow hide to images

.post-type-archive-product,
.tax-product_type {
  .site-content {
    @include flex-column;
    align-items: center;
    .content-area {
      width: 1120px;
    }
  }
  // header
  .page-header {
    margin-top: 50px;
    @include flex-column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    margin-bottom: 20px;
    border-bottom: 1px dashed $medium-grey;
    h1 {
      margin: 0;
    }
    .product-names {
      width: 300px;
      display: flex;
      justify-content: space-between;
      a {
        color: $teal;
        text-decoration: none;
        font-family: 'novecento';
        text-transform: uppercase;
      }
    }
  }
  // content
  .product-archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .product {
      width: 263px;
      border: 1px solid $light-grey;

      img {
        height: 253px;
        border-bottom: 5px solid $light-grey;
      }
      .product-info {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        .dots {
          overflow: hidden;
          flex: 1;
          &:after {
            content: '.......................................';
          }
        }
      }
    }
  }
}

.tax-product_type {
  .content-area {
    margin: 50px 0;
  }
}
