.search-results {
  .site-main {
    margin-top: 100px;
    margin-left: 75px;
    h1 {
      font-size: 40px;
      padding-bottom: 20px;
      width: 750px;
      border-bottom: 1px solid $light-grey;
    }
    h2 {
      font-size: 35px;
      a {
        color: $teal;
        text-decoration: none;
        &:hover {
          color: $purple;
        }
      }
    }
    article {
      width: 750px;
    }
  }
  .read-more {
    color: $purple;
    text-decoration: none;
    border: 1px solid $purple;
    padding: 10px 20px;
    &:hover {
      border: none;
      color: white;
      background: $teal;
    }
  }
}
